* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    border: 0.2rem solid rgb(129, 127, 127);
    max-width: 100vw;
    min-height: 100vh;
}

.nevbar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.69rem;
    color:azure;
    background-color: #4472C4;
}

.btn{
    background-color: #4472C4;
    padding: 0.3rem 1rem;
    border-radius: 4px;
    margin: 0.2rem;
    color: #ffffff;
    border: 0.1rem solid #292828 ;
}

.btn2{
    padding: 0.5rem 1.5rem;
    margin: 0 0 0.5rem 0;
    
}

.btn3{
    padding: 0.5rem 1.5rem;
}

input{
    padding: 0.3rem;
    text-align: center;
}

.txt1{
    padding: 0.4rem 1.5rem;
    height: 2rem;
}

.container-tables{
    display: flex;
}
.city-container{
    display: flex;
    flex-direction: column;
    width: 15rem;
    border-right: 0.2rem solid #000000;
    min-height: 92.5vh;
    padding: 3rem 3rem;
}

.data-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
   
    /* padding-top: 3rem; */
}

.inputs{
    margin: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.table{
    /* border: 0.1rem solid #000000; */
    min-height: 20rem;
}

table,
th,
td {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px 10px;
}

th{
    background-color: #4472C4;
    color: #ffffff;
}

button {
    background-color: transparent;
    border: transparent;
}


.yellow-background {
    background-color: yellow !important;
}

.pawn2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90%;
    border: 0.1rem solid #000000;
    margin-top: 2px;

}

.city-names {
    cursor: pointer;
}

button:hover {
    background-color: #3568bf;
    cursor: pointer;
}

.heighlight {
    outline: 2px solid green;
}